import { Component, OnInit, OnDestroy } from '@angular/core';

@Component({
    selector: '<%= nameLined %>-component',
    templateUrl: './<%= nameLined %>.component.html'
})
export class <%= name %>Component implements OnInit, OnDestroy {

    public ngOnInit() {
        // do something
    }

    public ngOnDestroy() {
        // do something
    }

}
