export class <%= name %>Controller {

    <% if (routing) { %>public static $inject = [
        '$scope', 
        '$element', 
        '$state'
    ];
    private readonly componentDefaulClasses = 'flex layout-column';<% } else { %>public static $inject = [
        '$scope', 
        '$element'
    ];<% } %>

    constructor(
        private $scope: ng.IScope,
        private $element: ng.IAugmentedJQuery<% if (routing) { %>,
        private $state: ng.ui.IStateService<% } %>
    ) {
        <% if (routing) { %>$element.addClass(this.componentDefaulClasses);<% } %>
    }

    public $onInit() {
        console.log('<%= name %>Controller : onInit');
    }

}
