import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { TranslateModule } from '@ngx-translate/core';
import { FlexLayoutModule } from '@angular/flex-layout';
import { <%= name %>Component } from './<%= nameLined %>.component';<% if (routing) { %>
import { <%= name %>RoutingModule } from './<%= nameLined %>.routing.module';<% } %>

@NgModule({
    imports: [
        CommonModule,
        TranslateModule,
        FlexLayoutModule<% if (routing) { %>,<% } %><% if (routing) { %>
        <%= name %>RoutingModule<% } %>
    ],
    declarations: [ <%= name %>Component ]<% if (!routing) { %>,
    exports: [ <%= name %>Component ]<% } %>
})
export class <%= name %>Module {}
