import { Ng2StateDeclaration, UIRouterModule } from '@uirouter/angular';
import { RouterStateNames } from '../../../../core/constants/router.state-names.constant'; // <== update this
import { <%= name %>Component } from './<%= nameLined %>.component';
import { NgModule } from '@angular/core';

const <%= name %>RoutingState: Ng2StateDeclaration = {
    parent: RouterStateNames.TEAM_SECTION.MAIN.ROOT,
    name: RouterStateNames.TEAM_SECTION.MAIN.xxxxx, // <== update this
    component: <%= name %>Component,
    url: '/<%= nameFirstLower %>' // <== update this
};

@NgModule({
    imports: [
        UIRouterModule.forChild({ states: [
            <%= name %>RoutingState
        ]})
    ],
    exports: [ UIRouterModule ]
})
export class <%= name %>RoutingModule {}

